<!DOCTYPE html>
{% extends "base.html"%}
{% block content %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>

</style>
</head>
<body>

<div class="container">
  <h2 class="container-fluid"style="margin-bottom: 30px;margin-top: 40px;">10 Tips to Tame Your Stress&nbsp;&nbsp;  <span class="glyphicon glyphicon-hand-left"></span></h2>
  <p class="container-fluid w3-text-brown w3-medium">Stress hits us all in life, and while a little stress is good — it keeps us focused and motivated — too much of it and it can grind our lives to a complete halt. When you’re feeling overwhelmed and stressed-out, you may become paralyzed and unable to do much of anything.</p>
  <div class="panel-group container-fluid" style="margin-bootom:15px">
    <div class="panel panel-default panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title w3-padding-16">
          <a data-toggle="collapse" class="w3-large" href="#tip1">Tip 6: &nbsp;Perform diaphragmatic or “deep breathing” exercises
            </a>
        </h4>
      </div>
      <div id="tip1" class="panel-collapse collapse">
          <div class="panel-body col-sm-4">  <img src="https://get.pxhere.com/photo/man-1571869.jpg" class="img-responsive img-rounded"style="width:100%" alt="Image"></div>
        <div class="panel-body col-sm-8">   <ul class="pager">
            <li><p style=" text-align: left;">Place one hand on your chest and the other on your abdomen. When you take a deep breath in, the hand on the abdomen should rise higher than the one on the chest. This insures that the diaphragm is pulling air into the bases of the lungs.</p></li>
            <li><p style=" text-align: left;">After exhaling through the mouth, take a slow deep breath in through your nose imagining that you are sucking in all the air in the room and hold it for a count of 7 (or as long as you are able, not exceeding 7)</p></li>
          </ul></div>
      </div>
    </div>
  </div>
  <div class="panel-group container-fluid" style="margin-bootom:15px">
    <div class="panel panel-default panel-info">
      <div class="panel-heading">
        <h4 class="panel-title w3-padding-16">
          <a data-toggle="collapse" class="w3-large" href="#tip2">Tip 7: Try progressive muscle relaxation or “deep muscle” relaxation
        </span>
        </a>
        </h4>
      </div>
      <div id="tip2" class="panel-collapse collapse">
        <div class="panel-body col-sm-4">  <img src="https://get.pxhere.com/photo/beach-sea-water-ocean-horizon-person-sky-sunlight-wave-vacation-blue-yoga-computer-wallpaper-physical-fitness-50051.jpg" class="img-responsive img-rounded"style="width:100%" alt="Image"></div>
      <div class="panel-body col-sm-8">   <ul class="pager">
          <li><p style=" text-align: left;">Progressive muscle relaxation (PMR) is a non-pharmacological method of deep muscle relaxation, based on the premise that muscle tension is the body's psychological response to anxiety-provoking thoughts and that muscle relaxation blocks anxiety. The technique involves learning to monitor the tension in specific muscle groups by first tensing each muscle group. This tension is then released, as attention is directed towards the differences felt during tension and relaxation.</p></li>
        </ul></div>
      </div>
    </div>
  </div>
  <div class="panel-group container-fluid" style="margin-bootom:15px">
    <div class="panel panel-default panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title w3-padding-16">
          <a data-toggle="collapse" class="w3-large" href="#tip3">Tip 8: Meditate. Use visualization or guided imagery to help you learn to be one with your thoughts

        </a>
        </h4>
      </div>
      <div id="tip3" class="panel-collapse collapse">
        <div class="panel-body col-sm-4">  <img src="https://get.pxhere.com/photo/coloring-book-for-adults-colored-pencils-coloring-book-creative-antistress-color-pens-paint-imagine-sign-template-coloring-pages-calming-pattern-meditation-painting-coloring-book-adult-coloring-book-playing-fun-preschool-school-kids-education-indoors-art-design-font-brand-1435453.jpg" class="img-responsive img-rounded"style="width:100%" alt="Image"></div>
      <div class="panel-body col-sm-8">   <ul class="pager">
          <li><p style=" text-align: left;">Visualization and imagery (sometimes referred to as guided imagery) techniques offer yet another avenue for stress reduction. These techniques involve the systematic practice of creating a detailed mental image of an attractive and peaceful setting or environment. Guided imagery can be practiced in isolation, but it is frequently paired with physical relaxation techniques such as progressive muscle relaxation and massage. </p></li>

        </ul></div>
      </div>
    </div>
  </div>
  <div class="panel-group container-fluid" style="margin-bootom:15px">
    <div class="panel panel-default panel-info">
      <div class="panel-heading">
        <h4 class="panel-title w3-padding-16">
          <a data-toggle="collapse" class="w3-large" href="#tip4">Tip 9: Consult a psychologist about the use of biofeedback

        </a>
        </h4>
      </div>
      <div id="tip4" class="panel-collapse collapse">
        <div class="panel-body col-sm-4">  <img src="https://get.pxhere.com/photo/hospital-illness-information-internet-laptop-man-medical-computer-professional-electronic-device-technology-communication-product-design-1430845.jpg" class="img-responsive img-rounded"style="width:100%" alt="Image"></div>
      <div class="panel-body col-sm-8">   <ul class="pager">
          <li><p style=" text-align: left;">biofeedback promotes relaxation, which can help relieve a number of conditions that are related to stress. In psychology, therapists might use biofeedback to help patients control their response to stress.</p></li>

        </ul></div>
      </div>
    </div>
  </div>

  <div class="panel-group container-fluid" style="margin-bootom:15px">
    <div class="panel panel-default panel-primary ">
      <div class="panel-heading">
        <h4 class="panel-title w3-padding-16">
          <a data-toggle="collapse" class="w3-large" href="#tip5">Tip 10: Cultivate a sense of humor

        </a>
        </h4>
      </div>
      <div id="tip5" class="panel-collapse collapse">
        <div class="panel-body col-sm-4">  <img src="https://get.pxhere.com/photo/green-drink-lighting-smile-laugh-cheerful-happy-joy-luck-emotion-satisfaction-good-mood-joy-of-life-624944.jpg" class="img-responsive img-rounded"style="width:100%" alt="Image"></div>
      <div class="panel-body col-sm-8">   <ul class="pager">
          <li><p style=" text-align: left;">Studies show that having a smile on your face can release endorphins, which make you feel better, and can lead you to actually feeling more happy (rather than just looking happier). Even if the smile is fake, the benefits you will experience are real! Also, a fake smile leads readily to a genuine one. If you are able to put a smile on your face, the laughter will come more easily, and the stress will melt more readily.</p></li>
        </ul></div>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <ul class="pager">
    <li><a href="{{url_for('activities.activity1')}}">Previous</a></li>
    <li><a href="">Next</a></li>
  </ul>
</div>




</body>
</html>
{% endblock %}
