<!DOCTYPE html>
{% extends "base.html"%}
{% block content %}
<html lang="en">
<title> Mental Health</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
h1,h2,h3,h4,h5 {color:#000!important;font-style:normal;}
.title_font{
 font-family: "Tangerine", serif;
}
</style>

<body  style="background-color:white">

<div class="w3-container" style="overflow:scroll">
    <img
    src="https://get.pxhere.com/photo/wheat-food-grain-grass-family-cereal-grain-rye-barley-close-up-triticale-commodity-whole-grain-hordeum-emmer-cereal-germ-durum-einkorn-wheat-dinkel-wheat-macro-photography-poales-crop-field-oat-grass-1425791.jpg"
    alt="picture for testing"
    width="1000" height="1000"/>
</div>



</body>
{% endblock %}
