<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }} - Mental Health App</title>
    {% else %}
    <title>Welcome to our Mental Health App</title>
    {% endif %}

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
   	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Stuff Shaunak needs for login.html, dont delete -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/tarkhov/postboot/v1.0.0-beta3/dist/css/postboot.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <style>
        h1,h2,h3,h4,h5 {color:#000!important;font-style:normal;}
        .title_font{
        font-family: "Tangerine", serif;
        }
        .padding14{padding:14px 0px;}

		.normal_font{color:#000!important;font-style:normal;}
		.topNavItem{padding-top: 14px; padding-bottom:8px;font-weight: bold; }
		.no_underline{display: inline-block;}
		.searchInputBox{padding-top: 14px; padding-bottom:8px;}
		.material-icons {vertical-align:-14%;}

		{%block addstyles%}
		{%endblock%}
     </style>


    <script>

    var source = new EventSource("/progress");
    source.onmessage = function(event) {
      $('.progress-bar').css('width', event.data+'%').attr('aria-valuenow', event.data);

      if(event.data == 100){
        source.close()
      }
    }
    </script>

  {% block head %}
	{% endblock %}
    <!-- End of stuff Shaunak needs for login.html -->

</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

<body  style="background-color:white">
  <!--top menu-->
  <header class="w3-container w3-top w3-white w3-xlarge w3-bottombar w3-border-grey" style="height:8%;">
    {% if current_user.is_anonymous %}
    <a herf="" class="w3-white w3-btn w3-xlarge w3-left w3-text-black topNavItem title_font">
      <i class="material-icons topNavItem">person</i>
      Welcome to Mental Health App&nbsp;&nbsp;</a>
    <a href="javascript:void(0)" class="w3-right w3-btn w3-white topNavItem" onclick="sb_open()">
      <i class="material-icons topNavItem">menu</i>
    </a>
    {% else %}
    <!--person button-->
    <button class="w3-btn w3-xlarge w3-left w3-text-black topNavItem title_font">
      <i class="material-icons topNavItem">person</i>
      &nbsp;&nbsp;Hi,&nbsp;&nbsp;{{ current_user.username }}&nbsp;&nbsp;
    </button>
    <!--end person botton-->

    <!--side menu botton-->
    <a href="javascript:void(0)" class="w3-right w3-btn w3-white topNavItem" onclick="sb_open()">
      <i class="material-icons topNavItem">menu</i>
    </a>
    <!--end side menu botton-->

    <!--search button-->
    <button class="w3-btn w3-xlarge w3-right w3-text-black topNavItem title_font">
      <i class="material-icons topNavItem">search</i>
    </button>
    <!--end search botton-->

    <!--search input area-->
    <span class="w3-xlarge w3-right w3-text-black topNavItem title_font">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <!--end search input area-->

<span class="w3-xlarge w3-right w3-text-black topNavItem title_font">|</span>

    <!--Activity botton-->
    <button class="w3-btn w3-xlarge w3-right w3-text-black topNavItem title_font">
      <i class="material-icons topNavItem">&nbsp;directions_car</i>&nbsp;&nbsp;&nbsp;Activity&nbsp;&nbsp;
    </button>
    <!--end Activity botton-->

<span class="w3-xlarge w3-right w3-text-black topNavItem title_font">|</span>

    <!--Home botton-->
    <button class="w3-btn w3-xlarge w3-right w3-text-black topNavItem title_font">
      <i class="material-icons topNavItem">home</i>&nbsp;&nbsp;&nbsp;Home&nbsp;&nbsp;
    </button>
    <!--end Home botton-->

  {% endif %}
  </header>
<!--end top menu-->

  <!-- Sidebar-->
  <nav class="w3-sidebar w3-bar-block w3-black w3-animate-right w3-top w3-text-light-grey w3-large" style="z-index:3;width:250px;font-weight:bold;display:none;right:0;" id="mySidebar">
    <a href="javascript:void()" onclick="sb_close()" class="w3-bar-item w3-button w3-center w3-padding-32">Close menu</a>
    <a href="{{url_for('main.index')}}" onclick="sb_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Home</a>
    <a href="{{url_for('main.achievements')}}" onclick="sb_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Achievements</a>
    <a href=" " onclick="sb_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Portfolio</a>
    <a href="{{url_for('auth.about')}}" onclick="sb_close()" class="w3-bar-item w3-button w3-center w3-padding-16">About us</a>
    {% if current_user.is_anonymous %}
        <a href="{{url_for('auth.login')}}" onclick="sb_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Login</a>
    {% else %}
    <a href="{{url_for('auth.logout')}}" onclick="sb_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Logout</a>
    <div class="position-relative">
      <div class="progress" style="margin: 5%">
        <div class="progress-bar progress-bar-animated" role="progressbar" style="width: 0%; background-color: #f99202;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    {% endif %}
  </nav>
  <!-- end Sidebar-->

    <hr>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <!-- Footer -->
      <footer class="w3-container w3-grey w3-padding-32 w3-margin-top">
        <p><a href=" " class="w3-button w3-padding-16 w3-left">Contact us</a></p>
      </footer>
    <!--end footer-->

  <script>
    // Script to open and close sidebar
    function sb_open() {
      document.getElementById("mySidebar").style.display = "block";
    }

    function sb_close() {
      document.getElementById("mySidebar").style.display = "none";
    }
  </script>

  <!--JQuery, AJAX, Bootstrap stuff, don't delete -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.rawgit.com/tarkhov/postboot/v1.0.0-beta3/dist/js/postboot.min.js"></script>
  <!-- end of JQuery, AJAX, Bootstrap stuff, don't delete -->
</body>

</html>
