{% extends "base.html" %}

{% block content %}
<style>
    .title{
        text-align: center;
        padding: 20px;
    }
    .matthew {
      background-color:lavender;
      color: black;
      margin: 20px;
      padding: 20px;
    }
    .michael {
      background-color: lavender;
      color: black;
      margin: 20px;
      padding: 20px;
    }
    .menglan {
      background-color: lavender;
      color: black;
      margin: 20px;
      padding: 20px;
    }
    .shaunak {
      background-color: lavender;
      color: black;
      margin: 20px;
      padding: 20px;
    }
    .asif {
      background-color: lavender;
      color: black;
      margin: 20px;
      padding: 20px;
    }
</style>
<h1 class="title">Meet the Team</h1>
<div class="matthew">
<h2 class="name">Matthew Gibbs</h2>
<p>Matthew is a software engineer from the University at Buffalo(SUNY). He is currently a student in Computer Science.</p>
</div>

<div class="michael">
<h2 class="name">Michael Long</h2>
<p>Michael is a software engineer from the University at Buffalo(SUNY). He is currently a third year student in Computer Science and Biostatistics.
Michael has previously worked as an intern in the fields of Algorithmic Trading and Web Development.
</p>
</div>

<div class="menglan">
<h2 class="name">Menglan Zhu</h2>
<p>Menglan is a software engineer from the University at Buffalo(SUNY). She is currently a student in Computer Science.</p>
</div>

<div class="shaunak">
<h2 class="name">Shaunak Sharma</h2>
<p>Shaunak is a software engineer from the University at Buffalo(SUNY). He is currently a student in Computer Science.</p>
</div>

<div class="asif">
<h2 class="name">Asif Hasan</h2>
<p>Matthew is a software engineer from the University at Buffalo(SUNY). He is currently a student in Computer Science.</p>
</div>


{% endblock %}
