{% extends "base.html" %}

{% block content %}

<div style="padding: 5%;">
  <div>
    <div>
      <h5 class="card-title display-4">Achievements</h5>
    </div>
  </div>
  <div class="card flex-sm-row mb-gutter bg-dark mb-3"><img class="card-img-top card-img-sm-left" src="{{ url_for('static', filename='ac1.png') }}" />
    <div class="card-body">
      <h4 class="card-title text-light bg-dark">Reach Level 2</h4>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card flex-sm-row mb-gutter bg-dark mb-3"><img class="card-img-top card-img-sm-left" src="{{ url_for('static', filename='ac2.png') }}"/>
    <div class="card-body">
      <h4 class="card-title text-light bg-dark">Reach Level 5</h4>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card flex-sm-row mb-gutter bg-dark mb-3"><img class="card-img-top card-img-sm-left" src="{{ url_for('static', filename='ac3.png') }}"/>
    <div class="card-body">
      <h4 class="card-title text-light bg-dark">Reach Level 10</h4>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card flex-sm-row mb-gutter bg-dark mb-3"><img class="card-img-top card-img-sm-left" src="{{ url_for('static', filename='ac4.png') }}"/>
    <div class="card-body">
      <h4 class="card-title text-light bg-dark">Reach Level 15</h4>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card flex-sm-row mb-gutter bg-dark mb-3"><img class="card-img-top card-img-sm-left" src="{{ url_for('static', filename='ac5.png') }}"/>
    <div class="card-body">
      <h4 class="card-title text-light bg-dark">Reach Level 20</h4>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card flex-sm-row mb-gutter bg-dark mb-3"><img class="card-img-top card-img-sm-left" src="{{ url_for('static', filename='ac6.png') }}"/>
    <div class="card-body">
      <h4 class="card-title text-light bg-dark">Reach Level 25</h4>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card flex-sm-row mb-gutter bg-dark mb-3"><img class="card-img-top card-img-sm-left" src="{{ url_for('static', filename='ac7.png') }}"/>
    <div class="card-body">
      <h4 class="card-title text-light bg-dark">Reach Level 30</h4>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card flex-sm-row mb-gutter bg-dark mb-3"><img class="card-img-top card-img-sm-left" src="{{ url_for('static', filename='ac8.png') }}"/>
    <div class="card-body">
      <h4 class="card-title text-light bg-dark">Reach Level 40</h4>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card flex-sm-row mb-gutter bg-dark mb-3"><img class="card-img-top card-img-sm-left" src="{{ url_for('static', filename='ac9.png') }}"/>
    <div class="card-body">
      <h4 class="card-title text-light bg-dark">Reach Level 50</h4>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card flex-sm-row mb-gutter bg-dark mb-3"><img class="card-img-top card-img-sm-left" src="{{ url_for('static', filename='ac10.png') }}"/>
    <div class="card-body">
      <h4 class="card-title text-light bg-dark">Reach Level 100</h4>
      <p class="card-text"></p>
    </div>
  </div>
</div>

{% endblock %}
