{% extends "base.html" %}

{% block content %}

<div style="padding: 5%;">
  <div>
    <div>
      <h5 class="card-title display-4">Achievements</h5>
    </div>
  </div>
  <div class="card flex-row flex-wrap bg-secondary my-2">
     <div class="card-header border-0">
         <img src="{{ url_for('static', filename='ac1.png') }}" alt="//placehold.it/200">
     </div>
     <div class="card-block px-2">
         <h3 class="card-title text-light">Reach Level 2</h3>
     </div>
  </div>
  <div class="card flex-row flex-wrap bg-secondary my-2">
     <div class="card-header border-0">
         <img src="{{ url_for('static', filename='ac2.png') }}" alt="//placehold.it/200">
     </div>
     <div class="card-block px-2">
         <h3 class="card-title text-light">Reach Level 5</h3>
     </div>
  </div>
  <div class="card flex-row flex-wrap bg-secondary my-2">
     <div class="card-header border-0">
         <img src="{{ url_for('static', filename='ac3.png') }}" alt="//placehold.it/200">
     </div>
     <div class="card-block px-2">
         <h3 class="card-title text-light">Reach Level 10</h3>
     </div>
  </div>
  <div class="card flex-row flex-wrap bg-secondary my-2">
     <div class="card-header border-0">
         <img src="{{ url_for('static', filename='ac4.png') }}" alt="//placehold.it/200">
     </div>
     <div class="card-block px-2">
         <h3 class="card-title text-light">Reach Level 15</h3>
     </div>
  </div>
  <div class="card flex-row flex-wrap bg-secondary my-2">
     <div class="card-header border-0">
         <img src="{{ url_for('static', filename='ac5.png') }}" alt="//placehold.it/200">
     </div>
     <div class="card-block px-2">
         <h3 class="card-title text-light">Reach Level 20</h3>
     </div>
  </div>
  <div class="card flex-row flex-wrap bg-secondary my-2">
     <div class="card-header border-0">
         <img src="{{ url_for('static', filename='ac6.png') }}" alt="//placehold.it/200">
     </div>
     <div class="card-block px-2">
         <h3 class="card-title text-light">Reach Level 25</h3>
     </div>
  </div>
  <div class="card flex-row flex-wrap bg-secondary my-2">
     <div class="card-header border-0">
         <img src="{{ url_for('static', filename='ac7.png') }}" alt="//placehold.it/200">
     </div>
     <div class="card-block px-2">
         <h3 class="card-title text-light">Reach Level 30</h3>
     </div>
  </div>
  <div class="card flex-row flex-wrap bg-secondary my-2">
     <div class="card-header border-0">
         <img src="{{ url_for('static', filename='ac8.png') }}" alt="//placehold.it/200">
     </div>
     <div class="card-block px-2">
         <h3 class="card-title text-light">Reach Level 40</h3>
     </div>
  </div>
  <div class="card flex-row flex-wrap bg-secondary my-2">
     <div class="card-header border-0">
         <img src="{{ url_for('static', filename='ac9.png') }}" alt="//placehold.it/200">
     </div>
     <div class="card-block px-2">
         <h3 class="card-title text-light">Reach Level 50</h3>
     </div>
  </div>
  <div class="card flex-row flex-wrap bg-secondary my-2">
     <div class="card-header border-0">
         <img src="{{ url_for('static', filename='ac10.png') }}" alt="//placehold.it/200">
     </div>
     <div class="card-block px-2 bg-secondary my-2">
         <h3 class="card-title text-light">Reach Level 100</h3>
     </div>
  </div>


{% endblock %}
