<!DOCTYPE html>
{% extends "base.html"%}
{% block content %}
<html>
<title>Meditation</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style type="text/css">
a:hover {color: black; text-decoration:none;background-color:#E7EAEE;
font-size:16px;}
.black_overlay{
 display: none;
 position: absolute;
 top: 0%;
 left: 0%;
 width: 100%;
 height: 100%;
 background-color: black;
 z-index:1001;
 -moz-opacity: 0.8;
 opacity:.80;
 filter: alpha(opacity=80);
}
.white_content {
 display: none;
 position: absolute;
 top:100%;
 left: 10%;
 width: 80%;
 height: 80%;
 background-color: white;
 z-index:1002;
 overflow: auto;
}
.white_content_small {
 display: none;
 position: absolute;
 top: 50%;
 left: 30%;
 width: 40%;
 height: 50%;
 background-color: white;
 z-index:1002;
 overflow: auto;
}
.pointer {cursor: pointer;}
</style>
<body>

<div class="w3-display-container" style="margin-bottom:50px">
  <img src="https://get.pxhere.com/photo/landscape-tree-nature-forest-outdoor-wilderness-mist-meadow-sunlight-morning-leaf-green-natural-autumn-park-season-landscapes-deciduous-wetland-rays-beautiful-grove-woodland-habitat-ecosystem-green-background-forest-landscape-biome-natural-environment-atmospheric-phenomenon-woody-plant-temperate-broadleaf-and-mixed-forest-temperate-coniferous-forest-839604.jpg" style="width:100%">
  <div class="w3-display-bottomleft w3-container w3-amber w3-hover-orange w3-hide-small"
   style="bottom:10%;opacity:0.7;width:70%">
  <h2><b>Meditation offers time for relaxation and heightened awareness in a stressful world where our senses are often dulled</b></h2>
</div>
</div>


<div class="w3-row w3-container" style="margin:50px 0">
<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-amber pointer">

    <img src="https://get.pxhere.com/photo/sea-nature-outdoor-horizon-person-people-sky-sunrise-sunset-sport-morning-view-dawn-dusk-evening-young-relax-symbol-sitting-peace-training-calm-meditate-exercise-lifestyle-healthy-fitness-zen-spiritual-energy-relaxation-meditation-happy-back-yoga-pose-lotus-body-posture-fit-simple-meditating-spirituality-wellness-position-wellbeing-1394621.jpg" style="width:100%" class="w3-hover-opacity" onclick="ShowDiv('MyDiv','fade')">
    <h2>Body scan or progressive relaxation</h2>
    <p>Progressive relaxation, sometimes called body scan meditation, is meditation that encourages people to scan their bodies for areas of tension. The goal is to notice tension and to allow it to release.</p>
  </div>
</div>


<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-amber pointer">
    <img src="https://get.pxhere.com/photo/man-beach-sea-coast-ocean-silhouette-person-people-sunset-sunlight-shore-young-relax-exercise-lifestyle-fitness-meditation-sports-spa-yoga-dancing-balancing-meditating-wellness-physical-fitness-1349125.jpg" style="width:100%"class="w3-hover-opacity" onclick="ShowDiv('MyDiv2','fade')">
    <h2>Kundalini yoga</h2>
    <p>Kundalini yoga is a physically active form of meditation that blends movements with deep breathing and mantras. People usually learn from a teacher or do a class. However, someone can learn the poses and mantras at home.</p>
  </div>
</div>

</div>

<div class="w3-row w3-container" style="margin:50px 0">
<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-orange pointer">
    <img src="https://get.pxhere.com/photo/hand-person-woman-leg-sitting-lady-arm-art-drawing-yoga-human-positions-physical-fitness-182888.jpg" style="width:100%"class="w3-hover-opacity" onclick="ShowDiv('MyDiv3','fade')">
    <h2>Mindfulness meditation</h2>
    <p>Mindfulness is a form of meditation that urges practitioners to remain aware and present in the moment.</p>
  </div>
</div>


<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-orange pointer">
    <img src="https://get.pxhere.com/photo/sea-ocean-cloud-sky-sunrise-sunset-sunlight-morning-lake-dawn-dusk-evening-reflection-yoga-1397211.jpg" style="width:100%"class="w3-hover-opacity" onclick="ShowDiv('MyDiv4','fade')">
    <h2>Breath awareness meditation</h2>
    <p>Breath awareness is a type of mindful meditation that encourages mindful breathing.</p>
    </div>
</div>

</div>

<!--弹出层时背景层DIV-->
<div id="fade" class="black_overlay">
</div>
 <div id="MyDiv" class="white_content">
  <div style="text-align: right; cursor: default; height: 40px;">
   <span style="font-size: 16px;" onclick="CloseDiv('MyDiv','fade')">Close</span>
  </div>
  <iframe width=100% height=100% src="https://www.youtube.com/embed/i7xGF8F28zo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>
 <div id="MyDiv2" class="white_content">
  <div style="text-align: right; cursor: default; height: 40px;">
   <span style="font-size: 16px;" onclick="CloseDiv('MyDiv2','fade')">Close</span>
  </div>
  <iframe width=100% height=100% src="https://www.youtube.com/embed/R4Et5iQFoPI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>
 <div id="MyDiv3" class="white_content">
  <div style="text-align: right; cursor: default; height: 40px;">
   <span style="font-size: 16px;" onclick="CloseDiv('MyDiv3','fade')">Close</span>
  </div>
  <iframe width=100% height=100% src="https://www.youtube.com/embed/6p_yaNFSYao" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>
 <div id="MyDiv4" class="white_content">
  <div style="text-align: right; cursor: default; height: 40px;">
   <span style="font-size: 16px;" onclick="CloseDiv('MyDiv4','fade')">Close</span>
  </div>
<iframe width=100% height=100% src="https://www.youtube.com/embed/Eih7Pj8Mt_E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>
</body>

<script type="text/javascript">
//弹出隐藏层
function ShowDiv(show_div,bg_div){
 document.getElementById(show_div).style.display='block';
 document.getElementById(bg_div).style.display='block' ;
 var bgdiv = document.getElementById(bg_div);
 bgdiv.style.width = document.body.scrollWidth;
 // bgdiv.style.height = $(document).height();
 $("#"+bg_div).height($(document).height());
};
//关闭弹出层
function CloseDiv(show_div,bg_div)
{
 document.getElementById(show_div).style.display='none';
 document.getElementById(bg_div).style.display='none';
};
</script>
</html>

{% endblock %}
