<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-20123769-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-20123769-2');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }} - Mental Health App</title>
    {% else %}
    <title>Welcome to our Mental Health App</title>
    {% endif %}

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Stuff Shaunak needs for login.html, dont delete -->
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/tarkhov/postboot/v1.0.0-beta3/dist/css/postboot.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">

    <style>
		body {font-family: "Lato", sans-serif;
    height: 100%;
    }
		.mySlides {display: none;}

        h1,h2,h3,h4,h5 {color:#000!important;font-style:normal;}
        .title_font{
        font-family: "Tangerine", serif;
        }
        .padding14{padding:14px 0px;}

		.normal_font{color:#000!important;font-style:normal;}
		.topNavItem{padding-top: 14px; padding-bottom:8px;font-weight: bold; }
		.no_underline{display: inline-block;}
		.searchInputBox{padding-top: 14px; padding-bottom:8px;}
		.material-icons {vertical-align:-14%;}

.tds-footer {
    position:fixed;
    bottom: 0;
    left:0;
    width:100%;
    z-index: 100;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 0;
    list-style: none;
    background-color: grey;
    border-style: groove;
}

.link-tds{
  text-decoration: none;

  color:white;
}
.link-tds:link {
  color: white;
  font-size: 15px;
}
.link-tds:hover{
  color:wheat;
  text-decoration: none;
}
     </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

/*    var source = new EventSource("/progress");
    source.onmessage = function(event) {
      $('.indexprog').css('width', event.data+'%').attr('aria-valuenow', event.data);

      if(event.data == 100){
        source.close()
      }
    } */
    </script>

  {% block head %}
	{% endblock %}
    <!-- End of stuff Shaunak needs for login.html -->

</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

<body  style="background-color:white">
  <!--top menu-->
  <header>
    <nav class="navbar navbar-expand-sm navbar-fixed-top" style="border-bottom:7px solid #336666;background-color:#336666;">

      <button class="btn w3-xlarge w3-left w3-text-black title_font w3-hover-opacity">
        <a href="{{url_for('main.profile')}}" class="w3-text-white" style="text-decoration:none">
        <i class="material-icons topNavItem">person</i>
        &nbsp;&nbsp;Hi,&nbsp;&nbsp;{{ current_user.username }}!&nbsp;&nbsp;
      {% if current_user.currstreak is none %}
      Streak: 1 day(s)!&nbsp;&nbsp;
      {% else %}
      Streak: {{ current_user.currstreak }} day(s)!&nbsp;&nbsp;
      {%endif%}
    </a>
      </button>
      <button class="btn w3-right ml-auto w3-border-left w3-hover-opacity">
      <a id="topnavclicker" href="javascript:void(0)" class="w3-text-white" onclick="sb_open()">
        <i class="material-icons topNavItem">menu</i>
      </a>
       </button>
  </nav>
  </header>


<!--end top menu-->

<!-- Top menu on small screens -->


  <!-- Sidebar-->
  <nav class="w3-sidebar w3-bar-block w3-black w3-animate-right w3-top w3-text-light-grey w3-large" style="z-index:10111;width:250px;font-weight:bold;display:none;right:0;" id="mySidebar">
    <div id="side_profile" style="background-color: #627f50;"><a href="{{url_for('main.profile')}}" onclick="sb_close()" class="w3-bar-item w3-center w3-padding-16"> <img src="{{ url_for('static', filename='defaultProfile.png') }}" style="border-radius: 50%; max-width: 150px;"/></a></div>
	<div class="position-relative" style="background-color: #627f50;">
		<div id="progbar" class="position-relative" style="padding-top: 10px;">
		  <div  class="progress" style="margin: 5%">
			{% if current_user.is_anonymous or current_user.points is none %}
			{% else %}
				<div class="progress-bar bg-success indexprog" role="progressbar" style="width: calc(({{current_user.points|int % 1000}}/1000) * 100%); background-color: #f99202;" aria-valuenow="{{current_user.points % 1000}}" aria-valuemin="0" aria-valuemax="1000">XP: {{current_user.points % 1000}}/1000</div>
			{% endif %}
		  </div>
		</div>
		{% if current_user.is_anonymous or current_user.points is none %}
		{% else %}
		<div id="level" class="postion-absolute"><h3 class="text-warning lvl" style="margin-left:35%; font-family: 'Luckiest Guy', cursive;">Level {{current_user.points//1000 + 1}}</h3></div>
		{% endif %}

		<div id="side_streakinfo" class="position-relative">
			{% if current_user.currstreak is none %}
			<div id="streaks" class="w3-bar-item w3-center w3-padding-16">Streak: 1 day(s)!</div>
			<div id="mult" class="w3-bar-item w3-center w3-padding-16">Multiplier: 1.0x!</div>
			{% else %}
			<div id="streaks"class="w3-bar-item w3-center w3-padding-16">Streak: {{ current_user.currstreak }} day(s)!</div>
			<div id="mult" class="w3-bar-item w3-center w3-padding-16">Multiplier: {{ current_user.multiplier }}x!</div>
			{%endif%}
		</div>
	</div>

    <div id="side_home"><a href="{{url_for('main.index')}}" onclick="sb_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Home</a></div>
	<div id="side_exlist"><a href="{{url_for('activities.exercises')}}" onclick="sb_close()" class="w3-bar-item w3-button w3-center w3-padding-16">All Exercises</a></div>
    <div id="side_ach"><a href="{{url_for('main.achievements')}}" onclick="sb_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Achievements</a></div>
    <div id="side_about"><a href="{{url_for('auth.about')}}" onclick="sb_close()" class="w3-bar-item w3-button w3-center w3-padding-16">About us</a></div>
    {% if current_user.is_anonymous %}
        <a href="{{url_for('auth.login')}}" onclick="sb_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Login</a>
    {% else %}
    <div id="side_logout"><a href="{{url_for('auth.logout')}}" onclick="sb_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Logout</a></div>

	<div id="side_close"><a href="javascript:void()" onclick="sb_close()" class="w3-bar-item w3-button w3-center w3-padding-32">Close menu</a></div>


	{% endif %}
  </nav>
  <!-- end Sidebar-->

    <hr>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <!-- Footer -->
    <footer class="tds-footer w3-text-black" style="border-bottom:10px solid #336666;background-color:#336666;" >
      <a href="{{url_for('main.contact')}}" class="link-tds w3-text-white">Contact us</a>
    </footer>
    <!--end footer-->

  <script>
    // Script to open and close sidebar
    function sb_open() {
      document.getElementById("mySidebar").style.display = "block";
    }

    function sb_close() {
      document.getElementById("mySidebar").style.display = "none";
    }

  </script>

  <!--JQuery, AJAX, Bootstrap stuff, don't delete -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- end of JQuery, AJAX, Bootstrap stuff, don't delete -->
</body>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c98026c2355556d"></script>
</html>
