<html>
  <head>
    {% if title %}
    <title>{{ title }} - Mental Health App</title>
    {% else %}
    <title>Welcome to our Mental Health App</title>
    {% endif %}
  </head>
  <body>
    <div>
      Mental Health App: 
      <a href="/index">Home</a>
      <a href="/login">Login</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
